html {
  height: 100%;
}
body {
  background-attachment: fixed;
  color: #3c3c3c;
  font-family: Microsoft YaHei, Simsum, serif;
  font-size: small;
  height: 100%;
  margin: 0 auto;
  min-height: 510px;
}
ul li{
  list-style: outside none none;
}

#section {
  width: 60%;
  float:left;
  padding:0px;
  background-color:#FFF;
  margin-top: 0px;
  height: 280px;
  border-bottom:1px solid  #000;
}
h3{
  margin-left: 10px;
}

#section a {
  color: #0366d6;
  text-decoration: none;

}

#section a:hover {
  color:#CC3300;text-decoration:underline;
}
#footer a:hover {
  color:#CC3300;text-decoration:underline;
}

#footer {
  background-color:#FFF;
  clear:both;
  padding:5px;
}

.testdiv {
  float:left;
}
.testdiv a {
   color: #0366d6;
   text-decoration: none;

 }
/* quickdial view */
#searchform {
  background-color:#EEE;
  float:left;
  height: 280px;
  margin: 0px;
  overflow: hidden;
  width: 40%;
  margin-top: 0px;
  border-bottom:1px solid  #000;
}
#searchform[hidden] {
  height: 0;
}
#searchform > fieldset {
  border: 0;
  margin: 0;
  padding: 3px;
  margin-left: 50px;

}
#searchform[hidden] > fieldset {
  display: none;
}
#searchform > fieldset:first-of-type > a {
  display: inline-block;
  height: 32px;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  width: 100px;
}
#searchform > fieldset:last-of-type {
  margin-left: 150px;
}
#searchform > fieldset:first-of-type {
  margin-top: 100px;
}
#searchform > fieldset > input[name="q"] {
  border: 1px solid #d8d8d8;
  border-right: none;
  height: 30px;
  padding: 0 5px;
  width: 400px;
}
#searchform > fieldset > input[name="q"]:focus {
  border: 1px solid #009ae2;
  border-right: none;
}
#searchform > fieldset > input[type="button"] {
  background-image: linear-gradient(to bottom, #fbfbfb, #f3f3f3);
  border: 1px solid #d8d8d8;
  cursor: pointer;
  height: 32px;
  width: 86px;
  -moz-appearance: none;
}
#searchform > fieldset > input[name="q"]:focus + input[type="button"] {
  background-image: linear-gradient(to bottom, #44adfb, #1e96e8);
  border: 1px solid #009ae2;
  color: white;
}
